<section class="aMain__filter aModal" id="modal-filter" data-sumbiot-overlay="false" data-sumbiot-overflow="false" data-sumbiot-modal="1">

  <h2 class="aModal__title">Фильтр</h2>

  <div class="aModal__inner">

    <form class="aForm" id="form-filter" method="POST">

      <div class="aForm__inner">

        <div class="aForm__item aForm__item--column-6">
          <label class="aForm__label" for="division">Дивизион</label>
          <select class="aForm__select js-select2" name="division" id="division" data-placeholder="Выберите дивизион">
            <option value=""></option>
            <option value="1">ООО "ОЗНА-Диджитал солюшнс"</option>
            <option value="2">АО "ОЗНА-ИС"</option>
            <option value="3">АО "АК ОЗНА"</option>
            <option value="4">ООО "НПП ОЗНА-Инжиниринг"</option>
            <option value="5">ООО "ОЗНА ТОиР"</option>
            <option value="6">ООО "ОЗНА-Логистика"</option>
            <option value="7">ОЗНА-Профи</option>
          </select>
        </div><!--./aForm__item-->

        <div class="aForm__item aForm__item--column-6">
          <label class="aForm__label" for="category">Категория</label>
          <select class="aForm__select js-select2" name="category" id="category" data-placeholder="Выберите категорию">
            <option value=""></option>
            <option value="1">Безапасность</option>
            <option value="2">Качество</option>
            <option value="3">Порядок</option>
            <option value="4">Производительность процессов</option>
            <option value="5">Производительность труда</option>
            <option value="6">Энергоэффективность</option>
            <option value="7">Другие идеи</option>
          </select>
        </div><!--./aForm__item-->

        <div class="aForm__item aForm__item--column-6 aForm__item--position-1">
          <label class="aForm__label" for="date-start">Дата от</label>
          <div class="aForm__calendar js-datepicker">
            <input class="aForm__input js-input" type="text" name="date_start" id="date-start" placeholder="00.00.0000" autocomplete="off">
          </div>
        </div><!--./aForm__item-->

        <div class="aForm__item aForm__item--column-6 aForm__item--position-1">
          <label class="aForm__label" for="date-end">Дата до</label>
          <div class="aForm__calendar js-datepicker">
            <input class="aForm__input js-input" type="text" name="date_start" id="date-end" placeholder="00.00.0000" autocomplete="off">
          </div>
        </div><!--./aForm__item-->

        <div class="aForm__item aForm__item--column-6">
          <label class="aForm__label" for="status">Статус</label>
          <select class="aForm__select js-select2" name="status" id="status" data-placeholder="Выберите статус">
            <option value=""></option>
            <option value="1">Новая</option>
            <option value="2">В работе</option>
            <option value="3">Внедрено</option>
            <option value="4">Отклонено</option>
            <option value="5">На доработку</option>
            <option value="6">Просрочено</option>
            <option value="7">Расчет эффективности</option>
            <option value="8">На рассмотрении</option>
          </select>
        </div><!--./aForm__item-->

        <div class="aForm__item aForm__item--column-3 aForm__item--self-end aForm__item--position-1">
          <button class="aForm__button aBtn" type="submit">Применить</button>
        </div><!--./aForm__item-->

        <div class="aForm__item aForm__item--column-3 aForm__item--self-end aForm__item--position-1">
          <button class="aForm__button aBtn aBtn--white" type="reset">Сбросить</button>
        </div><!--./aForm__item-->

      </div><!--./aForm__inner-->

    </form><!--./aForm-->

  </div><!--./modal__inner-->

  <button type="button" class="aModal__close" data-sumbiot-modal-close title="Закрыть окно"></button>

</section><!--./aModal-->
