
<article class="aIdea">

  <header class="aIdea__header">
    <div class="aIdea__top-panel">

      <div class=aIdea__author">
        Предложил:
        <div class="aIdea__author-inner">
          <div class="aIdea__author-avatar">
            <img class="aIdea__author-img" src="assets/img/circle.svg" width="32" height="32" alt="">
          </div>
          <div class="aIdea__author-info">
            <strong class="aIdea__author-name">Кузнецов Николай Сергеевич</strong>
            <time class="aIdea__author-date">27.05.2024 16:30:22</time>
          </div>
        </div>
      </div><!--./aIdea__author-->

      <div class="aIdea__status">
        <mark class="aIdea__status-name">Новый</mark>
        <button class="aIdea__status-like aBtn">
          <span class="visually-hidden">Нравиться</span>
        </button>
      </div><!--./aIdea__status-->

    </div><!--./aIdea__top-panel-->

    <h2 class="aIdea__header-title">Идея 12619 - Организация движения автотранспорта внутри 82 цеха</h2>
  </header><!--./aIdea__header-->

  <div class="aIdea__content">

    <div class="aTabs">
      <ul class="aTabs__header">
        <li class="aTabs__item">Идея</li>
        <li class="aTabs__item">Участники</li>
        <li class="aTabs__item">Комментарии (3)</li>
        <li class="aTabs__item">Файлы (5)</li>
      </ul><!--./aTabs__header-->

      <ul class="aTabs__container">

        <!-- Таб - Идея -->
        {{> tab-idea}}

        <!-- Таб - Участники -->
        {{> tab-users}}

        <!-- Таб - Комментарии -->
        {{> tab-comments}}

        <!-- Таб - Файлы -->
        {{> tab-files}}

      </ul><!--./aTabs__container-->
    </div><!--./aTabs-->

  </div><!--./aIdea__content-->

  <footer class="aIdea__footer">
    <ul class="aIdea__footer-list">
      <li class="aIdea__footer-item">Категория: Безопасность</li>
      <li class="aIdea__footer-item">Рейтинг: 10</li>
    </ul><!--./aIdea__footer-list-->

    <ul class="aIdea__footer-list">
      <li class="aIdea__footer-item">
        <a class="aIdea__footer-link" href="">Комментировать</a>
      </li>
      <li class="aIdea__footer-item">
        <a class="aIdea__footer-link" href="">Редактировать</a>
      </li>
      <li class="aIdea__footer-item">
        <a class="aIdea__footer-link" href="">Удалить</a>
      </li>
    </ul><!--./aIdea__footer-list-->
  </footer><!--./aIdea__footer-->

</article><!--./aIdea-->
