<section class="aMain__options aOptions" id="aOptions">
  <h3 class="visually-hidden">Настройки</h3>

  <div class="aOptions__inner">

    <ul class="aOptions__list">
      <li class="aOptions__item">
        <a href="" class="aOptions__link aBtn">Новая идея</a>
      </li>
      <li class="aOptions__item">
        <button class="aOptions__button aBtn aBtn--green">Мои идеи</button>
      </li>
    </ul>

    <ul class="aOptions__list aOptions__list--column-gap-12">
      <li class="aOptions__item">
        <button class="aOptions__button aBtn aBtn--icon js-search-modal" title="Поиск">
          <img class="aBtn__img" src="assets/img/search-new-icon.svg" width="16" height="16" alt="" aria-hidden="true">
        </button>
      </li>
      <li class="aOptions__item">
        <button class="aOptions__button aBtn aBtn--icon js-filter-modal" title="Фильтр">
          <img class="aBtn__img" src="assets/img/filter-icon.svg" width="16" height="16" alt="" aria-hidden="true">
        </button>
      </li>
    </ul>

  </div><!--./aForm__inner-->

</section><!--./aMain__options-->
