
<section class="aMain__options aOptions" id="aOptions">
  <h3 class="visually-hidden">Настройки</h3>

  <div class="aOptions__inner">

    <ul class="aOptions__list">
      <li class="aOptions__item">
        <a href="" class="aOptions__link aBtn">Новая идея</a>
      </li>
      <li class="aOptions__item">
        <button class="aOptions__button aBtn">Мои идеи</button>
      </li>
    </ul>

    <ul class="aOptions__list">
      <li class="aOptions__item">
        <button class="aOptions__button aBtn" title="Вид плиткой">
          <img class="aOptions__img" src="assets/img/tile-icon.svg" width="20" height="20" alt="" aria-hidden="true">
        </button>
      </li>
      <li class="aOptions__item">
        <button class="aOptions__button aBtn" title="Вид списком">
          <img class="aOptions__img" src="assets/img/list-icon.svg" width="20" height="20" alt="" aria-hidden="true">
        </button>
      </li>
    </ul>

  </div><!--./aForm__inner-->

</section><!--./aMain__options-->
