
<section class="aMain__search aForm" id="aSearch">
  <h3 class="aForm__title">Поиск</h3>

  <div class="aForm__inner">

    <div class="aForm__item aForm__item--10">
      <label class="visually-hidden" for="search">Найти</label>
      <input class="aForm__input" type="text" name="search" id="search" placeholder="Введите название идеи" autocomplete="off" required>
    </div><!--./aForm__item-->

    <div class="aForm__item aForm__item--2">
      <button class="aForm__button" type="submit">Найти</button>
    </div><!--./aForm__item-->

  </div><!--./aForm__inner-->

</section><!--./aMain__search-->
