
<li class="aTabs__content">

  <div class="aIdea__box">
    <strong class="aIdea__label">Проблема:</strong>
    <p class="aIdea__value">
      На данный момент оповещение полевых сотрудников происходит по средствам Outlook, группах в мессенджерах и лично, но оставляет за собой большой процент не уведомленных
      сотрудников, что в конечном итоге сказывается на качестве выполняемых работ, будь то несвоевременная сдача экзаменов, получение удостоверений или просроченные дозиметры.
      А также уведомление о введение в действие новых распоряжений приказов и возможных причинах снижения премии за невыполнение.
    </p>
  </div><!--./aIdea__box-->

  <hr>

  <div class="aIdea__box">
    <strong class="aIdea__label">Решения:</strong>
    <p class="aIdea__value">
      Предлагаю реализовать возможность SMS рассылки для уведомления сотрудников. В запускаемый сервис вводятся необходимые номера сотрудников и сообщение. Реализация данного
      решения сэкономит время сотрудника по договорной работе, а также руководителя проекта, позволит держать в курсе всех заинтересованных лиц, что в свою очередь сократит количество
      просрочек, препятствующих своевременному выезду сотрудников на объекты, и сдаче оборудования.
    </p>
  </div><!--./aIdea__box-->

  <hr>

  <div class="aIdea__grid">
    <div class="aIdea__box">
      <strong class="aIdea__label aIdea__label--mb-0">Ожидаемый <span>экономический</span> эффект:</strong>
      <span class="aIdea__value">32 400 ₽</span>
    </div><!--./aIdea__box-->
    <div class="aIdea__box">
      <strong class="aIdea__label aIdea__label--mb-0">Фактический <span>экономический</span> эффект:</strong>
      <span class="aIdea__value">? ₽</span>
    </div><!--./aIdea__box-->
  </div>

</li><!--./aTabs__content-->
