
<li class="aTabs__content aTabs__content--user" style="display: none">

  <div class="aIdea__container">

    <div class="aIdea__box">
      <strong class="aIdea__label">Автор идеи:</strong>
      <a class="aIdea__link" href="">Кузнецов Николай Сергеевич</a>
    </div><!--./aIdea__box-->

    <hr>

    <div class="aIdea__grid">
      <div class="aIdea__box">
        <strong class="aIdea__label">Дивизион:</strong>
        <a class="aIdea__link" href="">АО "ОЗНА-Измерительные системы"</a>
      </div><!--./aIdea__box-->

      <div class="aIdea__box">
        <strong class="aIdea__label">Подразделение:</strong>
        <a class="aIdea__link" href="">Управление развития программного обеспечения</a>
      </div><!--./aIdea__box-->
    </div>


    <hr>

    <div class="aIdea__box">
      <strong class="aIdea__label">Должность:</strong>
      <span class="aIdea__value">56-11и группа легкового транспорта СМС</span>
    </div><!--./aIdea__box-->

  </div><!--./aIdea__container-->

  <div class="aIdea__container">

    <div class="aIdea__box">
      <strong class="aIdea__label">Руководитель автора:</strong>
      <a class="aIdea__link" href="">Кагарманов Ильдар Абдрашитович</a>
    </div><!--./aIdea__box-->

  </div><!--./aIdea__container-->

  <div class="aIdea__container">

    <div class="aIdea__box">
      <strong class="aIdea__label">Соавторы идеи:</strong>
      <a class="aIdea__link" href="">Кагарманов Ильдар Абдрашитович</a>,
      <a class="aIdea__link" href="">Арслангалин Вадим Ринатович</a>
    </div><!--./aIdea__box-->

  </div><!--./aIdea__container-->

  <div class="aIdea__container">

    <div class="aIdea__box">
      <strong class="aIdea__label aIdea__label--mb-0">Исполнитель:</strong>
      <a class="aIdea__link" href="">Кузнецов Николай Сергеевич</a>
    </div><!--./aIdea__box-->

  </div><!--./aIdea__container-->

</li><!--./aTabs__content-->
