
<li class="aTabs__content" style="display: none">

  <div class="aIdea__box">
    <strong class="aIdea__label">Фотографии:</strong>
    <ul class="aIdea__files">
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">
          <img class="aIdea__file-img" src="assets/img/square.svg" width="80" height="80" alt="">
        </a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">
          <img class="aIdea__file-img" src="assets/img/square.svg" width="80" height="80" alt="">
        </a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">
          <img class="aIdea__file-img" src="assets/img/square.svg" width="80" height="80" alt="">
        </a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">
          <img class="aIdea__file-img" src="assets/img/square.svg" width="80" height="80" alt="">
        </a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">
          <img class="aIdea__file-img" src="assets/img/square.svg" width="80" height="80" alt="">
        </a>
      </li>
    </ul>
  </div><!--./aIdea__box-->

  <div class="aIdea__box">
    <strong class="aIdea__label">Файлы:</strong>
    <ul class="aIdea__files">
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">Снимок экрана 2024-04-15 120053.png</a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">Снимок экрана 2024-04-15 120053.png</a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">Снимок экрана 2024-04-15 120053.png</a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">Снимок экрана 2024-04-15 120053.png</a>
      </li>
      <li class="aIdea__file">
        <a class="aIdea__file-link" href="">Снимок экрана 2024-04-15 120053.png</a>
      </li>
    </ul>
  </div><!--./aIdea__box-->

</li><!--./aTabs__content-->
