
<ul class="aWidget__item aStatistics">
  <li class="aStatistics__item">
    <span class="aStatistics__status">Новые</span>
    <span class="aStatistics__count">105</span>
  </li>
  <li class="aStatistics__item">
    <span class="aStatistics__status">В работе</span>
    <span class="aStatistics__count">1501</span>
  </li>
  <li class="aStatistics__item">
    <span class="aStatistics__status">Внедрено</span>
    <span class="aStatistics__count">3583</span>
  </li>
  <li class="aStatistics__item">
    <span class="aStatistics__status">Отклонено</span>
    <span class="aStatistics__count">4957</span>
  </li>
  <li class="aStatistics__item">
    <span class="aStatistics__status">На доработку</span>
    <span class="aStatistics__count">649</span>
  </li>
  <li class="aStatistics__item">
    <span class="aStatistics__status">На перспективу</span>
    <span class="aStatistics__count">351</span>
  </li>
  <li class="aStatistics__item">
    <span class="aStatistics__status">На рассмотрение</span>
    <span class="aStatistics__count">351</span>
  </li>
  <li class="aStatistics__item">
    <b class="aStatistics__status">Всего идей</b>
    <b class="aStatistics__count">11161</b>
  </li>
</ul>
