@use "sass:map";
@use "sass:meta";
@use "sass:color";

@use "../../variables" as v;
@use "../../function" as f;

/*
  Миксин Модальное окно
 */

@mixin modal($container, $orientation: 'mobile-first', $prefix: v.$prefix) {

  $z: 0;
  $route: 'min';

  @if $orientation == 'desktop-first' {
    $z: 1;
    $route: 'max';
  }

  $color: #fbfbfb;
  $color2: #181818;
  $color3: #e7e7e1;

  .#{$prefix}Modal{
    display: none;

    user-select: none;

    position: relative;
    z-index: 100;

    padding: 24px 24px 30px 24px;

    background-color: color.scale($color3, $lightness: 65%);

    box-shadow: 0 2px 2px 0 color.scale($color, $lightness: -7%);

    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      padding: 18px;
    }

    &--absolute {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      padding: 18px;
    }

  }

  .#{$prefix}Modal__title{
    max-width: 760px;

    margin: 0 auto 24px auto;

    font-size: 20px;

    text-align: center;
    text-transform: uppercase;

    color: $color2;

    opacity: 0.8;
  }

  .#{$prefix}Modal__inner{
    max-width: 760px;

    position: relative;

    margin: 0 auto;
    padding: 38px 30px;

    background-color: color.scale($color3, $lightness: 45%);

    border: 1px solid color.scale($color, $lightness: -15%);
    border-radius: 4px;

    box-shadow: 0 0 8px 0 color.scale($color, $lightness: -16%);
  }

  .#{$prefix}Modal__close{
    width: 28px;
    height: 28px;

    position: absolute;
    top: 22px;
    right: 26px;

    padding: 0;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32.034px' height='32.033px' viewBox='0 0 32.034 32.033' style='enable-background:new 0 0 32.034 32.033;' xml:space='preserve'%3E%3Cg%3E%3Cg id='Close'%3E%3Cg%3E%3Cpath d='M21.679,16.017l9.18-9.172c0.758-0.755,1.175-1.76,1.175-2.828s-0.417-2.073-1.175-2.829 c-0.754-0.755-1.762-1.171-2.83-1.171c-1.069,0-2.075,0.416-2.832,1.171l-9.182,9.172L6.834,1.188 C6.078,0.432,5.072,0.016,4.001,0.016c-1.068,0-2.074,0.416-2.83,1.172c-1.561,1.56-1.562,4.097,0,5.657l9.182,9.172 l-9.181,9.172c-1.562,1.562-1.562,4.099,0,5.658c0.756,0.755,1.762,1.171,2.831,1.171s2.075-0.416,2.831-1.172l9.181-9.172 l9.181,9.171c0.757,0.755,1.762,1.172,2.83,1.172c1.07,0,2.076-0.416,2.832-1.172c1.562-1.562,1.562-4.099,0-5.657L21.679,16.017 z M29.442,29.431c-0.756,0.755-2.074,0.756-2.832,0l-9.887-9.878c-0.392-0.393-1.025-0.393-1.416,0l-9.889,9.879 c-0.757,0.755-2.075,0.755-2.832,0c-0.78-0.78-0.78-2.049,0-2.829l9.889-9.879c0.188-0.188,0.293-0.44,0.293-0.707 c0-0.265-0.105-0.52-0.293-0.707l-9.89-9.879c-0.78-0.78-0.78-2.049,0-2.829c0.379-0.378,0.882-0.586,1.416-0.586 c0.536,0,1.038,0.208,1.417,0.586l9.889,9.879c0.391,0.391,1.024,0.391,1.416,0l9.889-9.878c0.757-0.756,2.074-0.756,2.832-0.001 c0.377,0.378,0.586,0.881,0.586,1.415s-0.209,1.036-0.586,1.414l-9.889,9.879c-0.392,0.391-0.392,1.022,0,1.414l9.889,9.878 C30.224,27.382,30.224,28.65,29.442,29.431z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;

    border: 1px solid color.scale($color2, $lightness: 70%);
    border-radius: 2px;

    box-shadow: inset 0 0 5px color.scale($color2, $lightness: 90%);

    opacity: 0.8;

    cursor: pointer;

    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    &:hover{
      background-color: color.scale($color, $lightness: 10%);
      box-shadow: inset 0 0 3px 1px color.scale(#efefef, $lightness: -15%);
    }

    &:active {
      background-color: color.scale($color, $lightness: 10%);
      box-shadow: none;
    }
  }

  .#{$prefix}Modal__button{

  }

}
