@use "../variables" as v;
@use "../library/sumbiot/general/mixins/components/button" as mB;

@use "sass:color";

@include mB.button();

.aBtn {
  padding: 10px 32px;

  background-color: #184A78;

  font-size: 13px;

  line-height: 13px;

  color: #fff;

  text-decoration: none;

  border: 1px solid rgba(#000, 0.2);
  border-radius: 2px;

  &:not(.aIdea__status-like) {
    @media (max-width: 460px) {
      padding: 8px 20px;
    }
  }

  &:not(.aIdea__status-like) {
    @media (max-width: 375px) {
      padding: 8px 10px;
    }
  }

  &:hover {
    background-color: color.scale(#184A78, $lightness: 20%);
    color: #fff;
  }

  &:active {
    background-color: #184A78;
    color: #fff;
  }

  &--green {
    background-color: #38804C;

    &:hover {
      background-color: color.scale(#38804C, $lightness: 10%);
      color: #fff;
    }

    &:active {
      background-color: #38804C;
      color: #fff;
    }
  }

  &--blue {
    background-color: #32A6E7;

    &:hover {
      background-color: color.scale(#32A6E7, $lightness: 10%);
      color: #fff;
    }

    &:active {
      background-color: #32A6E7;
      color: #fff;
    }
  }

  &--white {
    background-color: #fff;

    color: #000;

    &:hover {
      background-color: color.scale(#fff, $lightness: 10%);
      color: #000;

      box-shadow: inset 2px 2px 2px 0 rgba(#000, 0.05),
      inset -2px -2px 2px 0 rgba(#000, 0.05);
    }

    &:active {
      background-color: #fff;
      color: #000;

      box-shadow: none;
    }
  }

  &--icon {
    padding: 8px;

    background-color: #fff;

    box-shadow: none;

    &:hover {
      background-color: #fff;

      box-shadow: inset 2px 2px 2px 0 rgba(#000, 0.05),
      inset -2px -2px 2px 0 rgba(#000, 0.05);

      .aBtn__img {
        opacity: 1;
      }
    }

    &:active {
      background-color: #fff;
      color: #fff;

      box-shadow: none;

      .aBtn__img {
        opacity: 0.8;
      }
    }

    .aBtn__img {
      opacity: 0.8;
    }

    &:not(.aIdea__status-like) {
      @media (max-width: 460px) {
        padding: 7px;
      }
    }

    &:not(.aIdea__status-like) {
      @media (max-width: 375px) {
        padding: 7px;
      }
    }

  }

  &--tab {
    padding: 6px 12px;

    background-color: #fff;

    color: #184A78;

    transition: all 0.1s ease;

    @media (max-width: 460px) {
      padding: 6px 8px !important;

      font-size: 12px !important;
    }

    @media (max-width: 375px) {
      padding: 6px 8px !important;
    }

    &.active {
      background-color: #184A78;

      color: #fff;

      pointer-events: none;
    }

    span {
      pointer-events: none;
    }
  }

  &--comment {
    padding: 6px 16px;
  }

  &--fix {
    min-width: 134px;

    padding-left: 8px;
    padding-right: 8px;
  }

}

.aBtn__img {
  display: block;

  width: 16px;
  height: 16px;

  pointer-events: none;
}
