
.aMain {

}

.aMain__filter {
  margin: 16px 0 32px;
}

.aMain__search {
  margin: 16px 0 32px;
}

.aMain__options {

}

.aMain__content {
  position: relative;

  margin: 16px 0 0 0;

  @media (max-width: 411px) {
    margin-top: 12px;
  }
}
