@use "../variables" as v;

.aOptions {
  user-select: v.$select;

  &:after {
    content: '';

    display: block;

    border-bottom: 1px solid rgba(#000, 0.03);
  }
}

.aOptions__inner {
  display: grid;

  grid-template-columns: auto auto;
  justify-content: space-between;

  align-items: center;

  padding: 15px 16px;
  margin-bottom: 24px;

  background-color: rgba(#54A3ED, 0.03);

  border: 1px solid rgba(#000, 0.1);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .07);

  border-radius: 2px;

  @media (max-width: 600px) {
    padding: 8px 12px;
  }
}

.aOptions__list {
  display: flex;
  grid-column-gap: 16px;

  padding: 0;
  margin: 0;
  list-style: none;

  &--column-gap-12 {
    grid-column-gap: 12px;
  }
}

.aOptions__item {

}

.aOptions__link {
  text-decoration: none !important;
}

.aOptions__button {

}
