
.skeleton {
  display: grid;

  grid-template-columns: 336px 1fr;
  grid-template-rows: 1fr;
}

.skeleton__left {
  background-color: rgba(#54A3ED,0.1);

  border-right: 1px solid rgba(#000000, 0.1);
}

.skeleton__content {
  padding-top: 70px;
}

.skeleton__title {
  padding: 14px 24px 13px;

  font-size: 22px;
  font-weight: 700;

  line-height: 31px;

  border-top: 1px solid rgba(#000000, 0.1);
  border-bottom: 1px solid rgba(#000000, 0.1);
}
