
.aUpload {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.8;

  margin: 32px auto;

  &:hover {
    opacity: 1;
  }

  span {
    margin: 0 0 0 3px;
  }
}

.aUpload__img {
  margin: 0 12px 0 0;
}
