
.aWidget {
  background-color: rgba(#54A3ED, 0.03);

  border: 1px solid rgba(#184A78, 0.1);
}

.aWidget__grid {
  margin: 0;
  padding: 24px 16px;
  list-style: none;
}

.aWidget__row {
  margin-bottom: 24px;
}

.aWidget__heading {
  padding: 8px 16px;
  margin: 0 0 24px 0;

  background-color: #F9FCFE;

  font-weight: bold;
  font-size: 15px;

  line-height: 1.5;

  border: 1px solid rgba(#184A78, 0.5);

  color: #184A78;
}
