
.aWidget {
  background-color: rgba(#54A3ED, 0.1);

  border: 1px solid rgba(#184A78, 0.1);
}

.aWidget__grid {
  margin: 0;
  padding: 24px 0;
  list-style: none;
}

.aWidget__row {

}

.aWidget__heading {
  margin: 0 -1px 16px -1px;
  padding: 8px 16px;

  position: relative;

  background-color: #F9FCFE;

  font-weight: bold;
  font-size: 15px;

  line-height: 1.5;

  border: 1px solid rgba(#184A78, 0.5);

  color: #184A78;

  &::after {
    content: '';

    position: absolute;
    top: -1px;
    right: -15px;

    width: 15px;
    height: calc(100% + 2px);

    background-color: #89A3BB;
  }
}

.aWidget__item {
  margin: 0 16px;
}
