<section class="aMain__options aOptions" id="aOptions">
  <h3 class="visually-hidden">Настройки</h3>

  <div class="aOptions__inner">

    <div class="aOptions__list-wrapper">
      <button type="button" class="aBurger aBtn aBtn--icon">
        <span class="visually-hidden">Открыть меню</span>
      </button>
      <ul class="aOptions__list aOptions__list--news">
        <li class="aOptions__item">
          <a href="" class="aOptions__link aBtn aBtn--fix">Создать новость</a>
        </li>
        <li class="aOptions__item">
          <button class="aOptions__button aBtn aBtn--fix aBtn--green">Мои новости</button>
        </li>
        <li class="aOptions__item">
          <button class="aOptions__button aBtn aBtn--fix aBtn--blue">Мои подписки</button>
        </li>
      </ul>
    </div>

    <ul class="aOptions__list aOptions__list--column-gap-12">
      <li class="aOptions__item">
        <button class="aOptions__button aBtn aBtn--icon js-search-modal" title="Поиск">
          <img class="aBtn__img" src="assets/img/search-new-icon.svg" width="16" height="16" alt="" aria-hidden="true">
        </button>
      </li>
    </ul>

  </div><!--./aForm__inner-->

</section><!--./aMain__options-->

