<section class="aMain__content aContent js-observer">
  <h2 class="visually-hidden">Список новостей</h2>

  <ul class="aContent__inner" id="aContent">

    <li class="aContent__item">

      <!-- Новость -->
      {{> news}}

    </li><!--./aContent__item-->

<!--    <li class="aContent__item">-->

<!--      &lt;!&ndash; Новость &ndash;&gt;-->


<!--    </li>&lt;!&ndash;./aContent__item&ndash;&gt;-->

<!--    <li class="aContent__item">-->

<!--      &lt;!&ndash; Новость &ndash;&gt;-->


<!--    </li>&lt;!&ndash;./aContent__item&ndash;&gt;-->

<!--    <li class="aContent__item">-->

<!--      &lt;!&ndash; Новость &ndash;&gt;-->


<!--    </li>&lt;!&ndash;./aContent__item&ndash;&gt;-->

<!--    <li class="aContent__item">-->

<!--      &lt;!&ndash; Идея &ndash;&gt;-->


<!--    </li>&lt;!&ndash;./aContent__item&ndash;&gt;-->

  </ul><!--./aContent__list-->

</section><!--./aMain__filter-->
